<header>
    <img src = "assets/img/foto.jpeg"
        alt = "Caio Monte - Foto de Perfil" 
        width="130px"
        height = "130px"
        loading="eager"
    
    
    />
</header>
<aside>
    <div class = "container">
        <p> Full - stack | Angular | Vue.js | NodeJs</p>
        <p> bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla
        </p>
    
        <nav>
            <ul>
                <li>
                    <a href ="assets/pdf/CV-CaioMonte.pdf" target="_blank" class="btn btn primary">
                        Donwload CV - Modelo 1
                    </a>

                </li>

                <li>
                    <a href="https://www.linkedin.com/in/caio-monte-642418151/" target="_blank" class="btn btn-secondary">
                        Linkedin
                    </a>

                </li>



            </ul>


        </nav>
    


        <section>
            <figure>
                <img src="assets/icons/header/wpp.svg"
                alt="icone para contato no whatssap"
                width="22px"
                height="24px"
                />

                <figcaption>
                    <a aria-label="Chat on WhatsApp" href="https://wa.me/5581993735124">
                  <strong>Envie uma mensagem para:</strong>
                  <p>Whatssap: (81) 9 9373-5124 </p>
                    </a>
                </figcaption>

            </figure>

            <figure>
                <img src="assets/icons/header/gmail.svg"
                alt="icone para contato no Gmail"
                width="22px"
                height="24px"
                />

                <figcaption>
                    <a href="mailto:ccldm200@gmail.com" target="_blank">
                  <strong>Envie um email para:</strong>
                  <p>Caio: ccldm200&#64;gmail.com </p>
                    </a>
                </figcaption>

            </figure>

            






        </section>





    </div>


</aside>
